{% extends "base.html" %} {% block announce %} {{ super() }}
<script>
    if (typeof(Storage) !== "undefined") {
        if (localStorage.getItem("darkMode") == 1) {
            document.body.classList.add("darkMode");
        }
    }
</script>
{% endblock %} {% block config %} {{ super() }}
<script>
    var __search = {
        transform: function(query) {
            query = query.replace("_", " ")
                /* Original Search query filter code*/
            return query
                .split(/"([^"]+)"/g) /* => 1 */
                .map((terms, index) => index & 1 ?
                    terms.replace(/^\b|^(?![^\x00-\x7F]|$)|\s+/g, " +") :
                    terms
                )
                .join("")
                .replace(/"|(?:^|\s+)[*+\-:^~]+(?=\s+|$)/g, "") /* => 2 */
                .trim()
        }
    }
</script>
{% endblock %}