	h2{
		margin-bottom:10px;
	}
	
	body{
		margin:0px;
	}
	.topBar{
		width:100%;
	}
	
	.topBarMenuContainer{
		width:100%;
		background:#33a933;
	}
	
	.topMenu{
		font-family: "Source Sans Pro", sans-serif;
		letter-spacing:1px;
		max-width:1240px;
		margin:auto;
		display:flex;
	}
	
	.topContainer{
		padding-left:50px;
		height:70px;
		background-color:#eeeeee;
	}
	
	.imgLogo{
		padding-top:8px;
		max-height:55px;
	}
	
	.topBarItem{
		z-index:99;
	}
	
	.topBarItem a{
		color:#ffffff;
		float:left;
		padding: 6px 15px;
		text-decoration:none;
	}
	
	.topBarItemSelected a{
		color:#111111;
		background-color:#ffffff;
		float:left;
		padding: 6px 15px;
		text-decoration:none;
	}
	
	.topBarItem a:hover{
		color:#111111;
		background-color:#ffffff;
	}
	
	.topBarItem li{
		text-decoration:none;
	}
	
	.forkme{
		width:100%;
		position:absolute;
		text-align:right;
		pointer-events:none;
		
	}
	
	.mainContent{
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:18px;
		color:#666666;
		width:1240px;
		margin:auto;
		padding-top:20px;
	}
	
	.divFloat{
		float:left;
	}
	
	.photoCredit{
		color:#111111;
		font-family:Helvetica;
		font-size:11px;
	}
	
	.sourceCode{
		margin-top:10px;
		padding:6px;
		background-color:#efefef;
	}
	
	.fa-play{
		margin:0px 5px;
	}
	.runFiddle{
		font-size:15px;
		width:138px;
		height:22px;
		color:white;
		background-color:#0095ff;
		margin:4px;
		border:1px solid #0077cc;
		border-radius:3px;
	}
	
	.floatLeft{
		float:left;
	}
	
	.divFlex{
		display:flex;
	}
	
	.divExperiment{
		margin-top:20px;
		padding:20px;
		background-color:#eeeeee;
		border:1px solid #dddddd;
	}
	
	.buttonFilter{
		font-family: "Source Sans Pro", sans-serif;
		font-size:16px;
		letter-spacing:1px;
		color:white;
		background-color:#33a933;
		width:180px;
		height:20px;
		padding-top:5px;
		cursor:pointer;
		text-align:center;
		margin:5px;
		border-top:none;
		border-bottom:4px solid #177217;
	}
	
	.buttonFilter:active{
		border-bottom:none;
		border-top:4px solid #177217;
	}
	
	/********************************************
	 * ARTICLE
	 *******************************************/
	 
	.articleImage{
		max-width:1100px;
		max-height:600px;
		margin:auto;
		display:block;
	}
	
	.articleSubtitleAuthor{
		font-size: 14px;
		margin-top: -14px;
		margin-bottom:30px;
	}
	
	.articleSubtitleAuthor a{
		text-decoration:none;
		color:#666666;
		border-bottom:2px solid #33a933;
		-webkit-box-shadow: inset 0 -4px 0 #33a933;
		box-shadow: inset 0 -4px 0 #33a933;
	}
	
	.articleAuthorPanel{
		width: 800px;
		margin: auto;
		display: flex;
		padding: 5px;
		margin-top:30px;
		background-color: #eeeeee;
		border-top: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 4px solid #33a933;
	}
	
	.articleAuthorPanelLeft{
		display: inline-block;
	}
	
	.articleAuthorPanelLeft img{
		max-width:50px;
	}
	
	.articleAuthorPanelRight{
		margin-left: 15px;
		display: inline-block;
		font-size: 14px;
	}
	
	.articleAuthorPanelRightTitle{
		font-weight: bold;
		font-size: 12px;
	}
	
	.articleAuthorPanelRightTitle a{
		text-decoration:none;
		color:#666666;
		-webkit-box-shadow: inset 0 -3px 0 #33a933;
		box-shadow: inset 0 -3px 0 #33a933;
	}
	
	