.iLB {
    display: inline-block;
    vertical-align:top;
}
	.histEntry{
    display: inline-block;
    vertical-align:top;
    width: 30px;
    font-size: 7pt;
    padding: 12px 5px 12px 5px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px black;
}
.over {
  border: 2px dashed #000;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 33%;
  margin-left: -5px;
  border-width: 25px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
	body{
		margin:0px;
	}
	.mainContent{
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:18px;
		color:#666666;
		width:1240px;
		margin:auto;
		padding-top:20px;
	}
	

	.buttonFilter{
		font-family: "Source Sans Pro", sans-serif;
		font-size:16px;
		letter-spacing:1px;
		color:white;
		background-color:#33a933;
		width:180px;
		height:20px;
		padding-top:5px;
		cursor:pointer;
		text-align:center;
		margin:5px;
		border-top:none;
		border-bottom:4px solid #177217;
	}
	
	.buttonFilter:active{
		border-bottom:none;
		border-top:4px solid #177217;
	}
	