/*START CUSTOM EDIT*/

pre {
    border: 1px solid #A8B8D9;
    padding: 6px 10px;
    background-color: #f4f4f4;
	border-radius: 5px;
}
.ToTop{
	position: absolute;
    bottom: 40px;
    right: 30px;
    border: 1px solid #A8B8D9;
    padding: 7px 15px;
    background-color: #f4f4f4;
    border-radius: 20px;
	cursor:pointer;
	box-shadow: 0px 3px 4px 0px #c5c5c5;
}
h4, h3{
	margin: 15px 0px 4px 0px;
}
.badge{
	display: inline-block;
	color: #fff;
    padding: 0.7em 0.5em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: super;
    border-radius: .25rem;
}
.cf-green{
    background-color: #28a745;
}
.cf-gray{
    background-color: #6c757d;
}
.cf-red{
    background-color: #dc3545;
}
.cf-cyan{
    background-color: #17a2b8;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -200%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*END CUSTOM EDIT*/

#nav-tree .children_ul {
  margin:0;
  padding:4px;
}

#nav-tree ul {
  list-style:none outside none;
  margin:0px;
  padding:0px;
}

#nav-tree li {
  white-space:nowrap;
  margin:0px;
  padding:0px;
}

#nav-tree .plus {
  margin:0px;
}

#nav-tree .selected {
  background-image: url('tab_a.png');
  background-repeat:repeat-x;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

#nav-tree img {
  margin:0px;
  padding:0px;
  border:0px;
  vertical-align: middle;
}

#nav-tree a {
  text-decoration:none;
  padding:0px;
  margin:0px;
  outline:none;
}

#nav-tree .label {
  margin:0px;
  padding:0px;
  font: 12px 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

#nav-tree .label a {
  padding:2px;
}

#nav-tree .selected a {
  text-decoration:none;
  color:#fff;
}

#nav-tree .children_ul {
  margin: -3px -5px;
  padding:0px;
}

#nav-tree .item {
  margin: -4px 0px;
  padding:0px;
}

#nav-tree {
  padding: 0px 0px;
  background-color: #FAFAFF; 
  font-size:14px;
  overflow:auto;
}

#doc-content {
  overflow:auto;
  display:block;
  padding:0px;
  margin:0px;
  -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

#side-nav {
  padding:0 6px 0 0;
  margin: 0px;
  display:block;
  position: absolute;
  left: 0px;
  width: 250px;
}

.ui-resizable .ui-resizable-handle {
  display:block;
}

.ui-resizable-e {
  background-image:url("splitbar.png");
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: scroll;
  cursor:ew-resize;
  height:100%;
  right:0;
  top:0;
  width:6px;
}

.ui-resizable-handle {
  display:none;
  font-size:0.1px;
  position:absolute;
  z-index:1;
}

#nav-tree-contents {
  margin: 6px 0px 0px 0px;
}

#nav-tree {
  background-image:url('nav_h.png');
  background-repeat:repeat-x;
  background-color: #F9FAFC;
  -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

#nav-sync {
  position:absolute;
  top:5px;
  right:24px;
  z-index:0;
}

#nav-sync img {
  opacity:0.3;
}

#nav-sync img:hover {
  opacity:0.9;
}

@media print
{
  #nav-tree { display: none; }
  div.ui-resizable-handle { display: none; position: relative; }
}

