nav[aria-label$='Functions'] { 
    border-left: 5px solid rgb(64 81 181 / 0.30);
    line-height: 1.1;
}
nav[aria-label$='Variables'] { 
    border-left: 5px solid rgb(28 125 77 / 0.30);
    line-height: 1.1;
}
.md-typeset h2{
    margin:0 !important;
    text-align: center;
}

.md-typeset h3{
    border-radius: 5px 5px 0px 0px;
    padding: 0px 10px;
    margin:0 !important;
}
h3[aria-label$='Functions']{
    background-color: rgb(64 81 181 / 0.30);
    display: inline-block;
}

h3[aria-label$='Variables']{
    background-color: rgb(28 125 77 / 0.30);
    display: inline-block;
}

.md-typeset h4{
    border-radius: 0px 5px 5px 5px;
    padding: 2px 10px;
    margin:0 !important;
    font-weight: 400 !important;
    font-family: "Roboto Mono",SFMono-Regular,Consolas,Menlo,monospace;
    font-size: .85em;
}
h4[aria-label$='Functions']{
    background-color: rgb(64 81 181 / 0.15);
}

h4[aria-label$='Variables']{
    background-color: rgb(28 125 77 / 0.15);
}
.md-content p{
    text-align: justify
}

.subHeader {
    border-bottom: 1px solid var(--md-default-fg-color--light);
    font-size: 1em !important;
}

body.darkMode {
    --md-hue: 232;
    --md-default-fg-color: hsla(var(--md-hue), 75%, 95%, 1);
    --md-default-fg-color--light: hsla(var(--md-hue), 75%, 90%, 0.62);
    --md-default-fg-color--lighter: hsla(var(--md-hue), 75%, 90%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 21%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 21%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 21%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 21%, 0.07);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
    --md-code-hl-color: hsla(218, 100%, 63%, 0.15);
    --md-code-hl-number-color: hsla(6, 74%, 63%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 66%, 1);
    --md-code-hl-function-color: hsla(291, 57%, 65%, 1);
    --md-code-hl-constant-color: hsla(250, 62%, 70%, 1);
    --md-code-hl-keyword-color: hsla(219, 66%, 64%, 1);
    --md-code-hl-string-color: hsla(150, 58%, 44%, 1);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
    --md-typeset-mark-color: hsla(218, 100%, 63%, 0.3);
    --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 94%, 0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 94%, 0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
    --md-admonition-bg-color: hsla(var(--md-hue), 0%, 100%, 0.025);
    --md-footer-bg-color: hsla(var(--md-hue), 15%, 12%, 0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue), 15%, 10%, 1);
    
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1) !important;
    --md-code-hl-color: hsla(218, 100%, 63%, 0.15);
    --md-code-hl-number-color: hsla(6, 74%, 63%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 66%, 1);
    --md-code-hl-function-color: hsla(291, 57%, 65%, 1);
    --md-code-hl-constant-color: hsla(250, 62%, 70%, 1);
    --md-code-hl-keyword-color: hsla(219, 66%, 64%, 1);
    --md-code-hl-string-color: hsla(150, 58%, 44%, 1);
}